<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="QuaackConnectionString" connectionString="Data Source=(localDB)\v11.0;AttachDbFilename=|DataDirectory|\Quaack.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="nohiteam1@gmail.com">
                <network host="smtp.gmail.com" password="!NOHIteam" port="587"
                    userName="nohiteam1@gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
